
.sectionProjects{
    width: 100%;
    height: 893px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article{
    width: 70%;
    height: 800px;
    border: 5px solid grey;
    background-color: #181a1b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    border-radius: 50px;
}

.titulo{
    font-size: 30px;
    margin-top: 100px;
}

.cardSection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    border-radius: 50px;
    margin-bottom: 100px;
}

.cardProject{
    width: 400px;
    height: 550px;
    border: 5px solid grey;
    display: flex;
    background-color: #181a1b;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: ease .4s;
    border-radius: 10%;
}


.cardProject:hover{
    filter: drop-shadow(0 0 2em #ffffff3d); 
    scale: 1.005;
}

.card{
    width: 350px;
    height: 500px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cardImg{
    width: 350px;
    border-radius: 10%;
}

.tomi{
    width: 350px;
    border-radius: 10%;
    position: absolute;
    opacity: 0;
    transition: ease .5s;
    cursor: pointer;
}

.tomi:hover{
    fill: #181a1b;
    opacity: 1;
}

.language{
    display: flex;
}

.language li{
    font-size: 14px;
    padding: 5px;
    transition: ease .2s;
    cursor: default;
    background-color: #f583207f;
    border-radius: 5px;
}

.language li:hover{
    background-color: #f58220;
}

.btnContainer{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.btnContainer button{
    border: none;
    font-size: 16px;
    font-family: archivo;
    color: #d1cdc7;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #323638;
    cursor: pointer;
}

.btnContainer button:hover{
    background-color: #f58220;
    color: #d1cdc7;
    transition: ease .2s;
}


@media (max-width:1350px){


    .cardSection{
        flex-direction: column;
    }

    .cardSection :nth-child(2){
        display: none;
    }
    
}