
.navbar{
    background-color: #242424dd;
    backdrop-filter: blur(10px);
    height: 3em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 100;
}

.logo{
    margin-left: 1.5em;
}

.effect{
    animation: logo auto linear;
    animation-timeline: scroll(root block);
}

@keyframes logo {
    0%{opacity: 0;}
    20%{opacity: 0;}
    30% {opacity: 1;}
}

.menu{
    display: flex;  
    gap: 50px;                                                                                                            
}

.menu li{
    cursor: pointer;
}

.menu a{
    color: rgba(255, 255, 255, 0.87);
    transition: color ease .2s, border-bottom ease .5s;
    border-bottom: 2px solid transparent;
}

.menu a:hover{
    color: rgb(255, 255, 255);
    border-bottom: 2px solid whitesmoke;
}



.btnCv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    font-family: archivo;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    padding: 3px 20px;
    background-color: rgb(61, 108, 178); 
    border-radius: 5px;
    margin-right: 20px;
    border: none;
}

.btnCv:hover{
    color: #242424;;
    transition: ease .2s;
    background:rgba(255, 255, 255, 0.87);
}

.btnCv:hover .svgDownload{
    color: rgb(61, 108, 178);
    transition: ease .2s;
}

.linksContainer{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}

.links{
    width: 30px;
    cursor: pointer;
    fill: white;
}

.links:hover{
    /*fill: #007fbc;
    scale: 1.1;*/
    transition: ease .1s;
    fill: rgb(61, 108, 178);
    transition: ease .2s;
}


li{
    list-style: none;
    display: flex;
}

li + li{
    margin-left: 20px;
}

a{
    display: flex;
    align-items: center;
}


@media (max-width:1160px){

    .linksContainer{
        margin-right: 0;
        transition: .2s;
    }

    .menu {
        gap: 10px;
        transition: .2s;
        display: none;
    }
}